{% extends "layout.html" %}
{% block Homepage %}
<h1>Details Page</h1>
        <div>
            <div>
                <p>{{ post.title }}</p>
                <p>{{ post.name.username }}</p>
                <p>{{post.date_of_post}}</p>
                <img src="{{ post.image.url }}" alt="Image" height="200px", width="200px">
                <p>{{post.description}}</p>
                <p>{{ post.post}}</P>
            </div>
            <div>
                <hr>
                <br>
                {% for comment in comments %}
                <div>
                    <h6>{{ comment.user.username }} {{ comment.date_of_comment }}</h6>
                    <p>{{ comment.comment }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <div>
                <form action= "{% url 'comment' pk=post.pk %}" method="POST">
                    {% csrf_token %}
                    <textarea name="comment"></textarea>
                    <label>message</label>
                    <div>
                        {% if user.is_authenticated %}
                        <button class="btn btn-primary" type="submit">comment</button>
                        {% else %}
                        <div>
                        <a href="{% url 'register' %}">register</a>
                        </div>
                        <br>
                        <button class="btn btn-primary" type="submit" disabled>comment</button>
                        {% endif %}
                    </div>
                </form>
            </div>
            
        </div>
{% endblock %}
