{% extends "layout.html" %}
{% block Homepage %}

<div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div>
            <label>
                Username
            </label>
            <input type="text", name="user_name"/>
        </div>
        <div>
            <label>
                Password
            </label>
            <input type="password", name="password1"/>
        </div>
        <div><button type="submit">login</button></div>
    </form>
</div>
{% endblock %}